body{
    color: #414141;    
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #222222;
    border-bottom: 1px solid #ffffff;
    border-radius: 15px;
    border-bottom-left-radius:0px ;
    border-bottom-right-radius: 0px;
    background-color: #ffffff;
}

.header{
    display: flex;
    justify-content:flex-start;
    color: #ffffff;
    background: radial-gradient(circle at -16.45% 25.82%, #adadff 0, #8092fd 25%, #3c78f2 50%, #0060e7 75%, #004ddc 100%);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding: 10px;
    box-shadow: 0px 4px 7px 0px #000000;
}

.header h1{
    font-size: 30px;
    margin: 0;
    margin-left: 10px;
    margin-right: 20px;
}

.header span{
    font-size: 21px;
    font-weight: bolder ;
    margin-top: 5px;
    margin-left: 10px;
}

.content p{
    font-size: 18px;
    color: rgb(20, 20, 32);
    font-weight: 600;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.header .logo{
    display: inline-block;
    width: 50px;
    height: 40px;
    margin: 0;
    background: url(/images/mariposa-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

footer{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    border: 1px solid #000000;
    border-top: 0px;
    background-color: rgb(229, 233, 248);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

footer .footer-text{
    font-weight: 600;
    color: #000000;    
}